---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="bg-black h-screen">
  <p class="text-3xl text-white">Soy Voluntariado</p>
  <p class="text-3xl text-white">Aquí diré que hacemos y como sumarte</p>
</div>
</Layout>
