---

---

<!--Generic info to discuss later with Agus-->

<footer class="bg-red h-auto w-full">
  <ul class="grid bg-my-footer">
    <li>Soy un footer</li>
    <li>Soy un footer</li>
    <li>Soy un footer</li>
    <li>Soy un footer</li>
  </ul>
</footer>
