

<!--
Brand of all the pages from the webpage.
It has social media icons and the redcross brand-icon 
-->

  <header class="h-25 bg-my-header">

    {/*

  <!--Cruz Roja Logo

  <img src=""/>

  <!--Cruz Roja Redes Sociales

  <ul>
<li><i src></li>
  </ul>

    */}

</header>


