export function NavItem({ url,text }) {
  return (
    <a
      href={url}
      class="text-white cursor-pointer w-fit  h-auto  text-start md:text-center font-bold text-2xl hover:text-black md:p-5 md:hover:bg-amber-50"
    >
      {text}
    </a>
  );
}
