---
import "../styles/global.css";
import Header from "../components/Header.astro"
import {Nav} from "../components/Nav.jsx";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
		<meta name="generator" content={Astro.generator} />
		<title>Cruz Roja - Filial Al. Brown</title>
	</head>
<body className="">
    <Header/> 
    <Nav client:load/>
    <slot />
    <Footer/> 
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
